.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header{
  display: flex;
  margin: 0px;
  height: 72px;
  background-color: #FFE061;
  justify-content: center;
  align-items: center;
}

#heading{
  font-family: 'Nunito', sans-serif;
  font-size: 45px;
  margin: 0px 2rem;
}

.container{
  display: flex;
  justify-content: space-around;
}
.leftContainer{
  /* border: 2px solid green; */
  height: 442px;
  width: 456px;
  margin: auto 0px;
}
.text1{
  display: flex;
  width: 445px;
  height: 349px;
  margin: auto;
  background: #1E1E1E;
  color: white;
  border-radius: 50%;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.text2{
  height: 34px;
  width: 278px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  margin: 28px auto;
}
.rightContainer{
  width: 50%;
  height: 100%;
}
